body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    align-items: center;
    height: fit-content;
    text-align: center;
    padding: 1rem 0;
    background-color: goldenrod;
}

h1 {
    background-image: url("https://previews.123rf.com/images/lisaanfisa/lisaanfisa1603/lisaanfisa160300016/55484467-seamless-dans-le-style-fran%C3%A7ais-avec-de-la-nourriture-contexte-pour-le-menu-une-caf%C3%A9t%C3%A9ria-un-caf%C3%A9-un.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* color: antiquewhite; */
    font-size: clamp(4rem, 8vw, 7rem);
    font-weight: 900;
    background-color: black;
    margin: 0 .75em;
    padding: .25em 0;
}

h2 {
    margin: 1rem 3rem;
    padding-left: .5rem;
    background-color: antiquewhite;
}

li {
    line-height: 1.5;
    /* letter-spacing: ; */
}

article {
    display: grid;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    width: 60vw;
    transition: .3s ease-in-out;
    cursor: pointer;
}

section:hover {
    color: goldenrod;
}

h3 {
    justify-content: space-between;
}

.details {
    margin-left: 2em;
}

.choices li {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 .5rem;
    cursor: pointer;
}

.choices li:hover {
    transform: scale(1.5);
}

#story-icon {
    background-image: url(images/fairy.png);
    transition: transform 0.3s ease-in;
}
#story-icon:hover {
    background-image: url(images/gifs/fairy.gif);
    transform: scale(1.8);
}

#future-icon {
    background-image: url(images/future.png);
}
#future-icon:hover {
    background-image: url(images/gifs/future.gif);
}

#globe-icon {
    background-image: url(images/globe.png);
}
#globe-icon:hover {
    background-image: url(images/gifs/globe.gif);
}

#memories-icon {
    background-image: url(images/memory.png);
}
#memories-icon:hover {
    background-image: url(images/gifs/memory.gif);
}

#teen-life-icon {
    background-image: url(images/me.png);
}
#teen-life-icon:hover {
    background-image: url(images/gifs/me.gif);
}